{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier", "sort-imports-es6-autofix"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "react-app"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-shadow": 2,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "{react,prop-types}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "types",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "{.,..}/**/*.jss",
            "group": "index",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always"
      }
    ],
    "sort-imports-es6-autofix/sort-imports-es6": [
      2,
      {
        "memberSyntaxSortOrder": ["all", "single", "multiple", "none"]
      }
    ]
  }
}
