.container-fluid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.HeaderLink {
  color: azure;
  font-size: 1.25rem;
  margin: auto 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// #title {
//   position: relative;
//   color: white;
//   z-index: 5;
// }

// #everything-else {
//   background-color: #fff;
//   position: relative;
//   z-index: 10;
// }

// #r51 {
//   border-radius: 0px;
//   background: #333356;
//   z-index: 0;
// }