.moon {
  width: 70%;
  height: 40rem;
  position: absolute;
  bottom: 100px; // -600px;
  background: #d8d8d8;
  border-radius: 700px;
  left: calc(50% - 350px);
  z-index: 1;
}

.moon:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 40px;
  left: 300px;
  background: #cccccc;
  border-radius: 30px;
}

.moon:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 400px;
  background: #cccccc;
  border-radius: 30px;
}

.planet {
  position: absolute;
  background: #cccccc;
  z-index: 3;
  width: 70px;
  height: 70px;
  top: 10vh;
  right: 10%;
  border-radius: 70px;
  overflow: hidden;
}

.planet:after {
  content: "";
  position: absolute;
  background: #d8d8d8;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  left: 5px;
  top: -5px;
}

.planet .crater {
  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #cccccc;
}

.planet .crater-one {
  left: 50px;
  top: 30px;
}

.planet .crater-two {
  width: 20px;
  height: 20px;
  left: 20px;
  top: 10px;
}

.planet .crater-three {
  width: 12px;
  height: 12px;
  left: 30px;
  top: 40px;
}

.saturn-container {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 40vh;
  left: 10%;
}

.saturn {
  position: absolute;
  background: #97c4d3;
  z-index: 3;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  overflow: hidden;
}

.saturn:after {
  content: "";
  position: absolute;
  background: #aad7e6;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  left: 5px;
  top: -5px;
}

.saturn-container .circle {
  position: absolute;
  z-index: 3;
  top: -40px;
  left: -40px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: transparent;
  transform: rotateX(80deg) rotateY(-10deg);
  border: solid 30px rgba(136,180,195,0.3);
  -webkit-animation: saturn 3s infinite linear;
}

.saturn-container .circle:before {
  position: absolute;
  content: "";
  background: rgba(255,255,255,0.1);
  width: 10px;
  height: 10px;
  top: 0px;
}

.star {
  position: absolute;
  background: rgba(255,255,255,0.4);
  width: 3px;
  height: 3px;
  border-radius: 3px;
  top: 20px;
}

.star-filante {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 300px;
  width: 40px;
  height: 2px;
  border-radius: 0 2px 2px 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.1), rgba(255,255,255,0.4));
  transform: rotate(-20deg);
  -webkit-animation: starFilante 15s infinite;
}

@-webkit-keyframes starFilante {
  from, to {}
  0% {
    
  }
  10%, 100% {
    transform: translate(300px);
    opacity: 0;
  }
}

@-webkit-keyframes saturn {
  from {
    transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(80deg) rotateY(-10deg) rotateZ(360deg);
  }
}