.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.HeaderLink {
  color: azure;
  font-size: 1.25rem;
  margin: auto 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}